/* Print styles for receipt */
@media print {
  body {
    background: white !important;
    color: black !important;
  }
  
  .print\\:hidden {
    display: none !important;
  }
  
  .print\\:block {
    display: block !important;
  }
  
  .print\\:shadow-none {
    box-shadow: none !important;
  }
  
  .print\\:border-0 {
    border: 0 !important;
  }
}

